# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Flask-specific files
instance/
.webassets-cache

# Virtual environment
venv/
.venv/
env/
.env
ENV/
env.bak
venv.bak

# Datenbank- und Datenverzeichnisse
*.db
*.sqlite
*.sqlite3
data/

# Node.js / Frontend Build
# These folders can be huge and should never be checked in.
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / IDE-specific configuration files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db
Desktop.ini

# Log files
*.log
logs/

# Docker-specific (if you have local build caches etc.)
.dockerignore

# Local configuration files
.env
.env.*

# Medien-Dateien ignorieren, aber mp4 explizit erlauben
*.avi
*.mov
!*.mp4

# Standardmäßig alles andere erlauben